@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Develop by Nadia</h1>
    <p>Let's learn DevOps <a href="https://www.youtube.com/">Click this link pleaseee</a>.</p>
</div>
